*{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4vh;
    cursor: default;
}

a{
    cursor: pointer;
}



::-webkit-slider-runnable-track{
    background-color: #000;
}

::-webkit-scrollbar{
    width: 3px;
    background-color: #000;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(73, 73, 73);
    border-radius: 100%;
    box-shadow: 1px 1px 5px white;
}


.navbar{
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.dropdown:hover{
    
    cursor: pointer;
}


.dropdown:hover .dropdown-menu {
    display: block;
}


@keyframes navbar-light{
    0%,100%{
        box-shadow: 1px 1px 1000px #ff4d4d;
    }
    33.33%,50%{
        box-shadow: 1px 1px 1000px #007cf0;
    }
    16.66%,67.66%{
        box-shadow: 1px 1px 1000px #7928ca;
    }
}

.navbar{
    box-shadow: 1px 1px 1000px rgba(209, 191, 191, 0.849);
    transition: 300ms;
    animation: navbar-light 8s infinite;
}

#p-sec2,#p-sec3,#p-sec4{
    display: flex; flex-direction: row; justify-content: space-around;
    margin: 0;
}
/* 
@media only screen and (max-width: 650px) {

    .card-container{
        padding: 0;
    }

    .card{
        padding: 0;
    }


    #sec2{
        
    display: flex; flex-direction: column   ; justify-content: space-around;
    }
}

@media only screen and (max-width: 960px) {
    .navbar{
        background-color: #000;
        backdrop-filter: none;
    }
}






.card {
    background: linear-gradient(49deg, #2d4de0 0, #9f71f0 30%, #fc6277 58%, #f8ef6f 95%);
    margin: 40px;
    width: min-content;
    width: 500px;
    max-height: 500px;
    max-width: 500px;
    height: 500px;
    height: min-content;
    display: block;
    overflow: hidden;

    border-radius: 0.8em;
    transition: 400ms;
}


.premium{width: 500px;
    max-height: 500px;
    max-width: 500px;
    height: 500px;
    background: linear-gradient(49deg, #e5ff00 0, #48ff00 30%, #ff0022 58%, #0099ff 95%);
}


.card-container {
    padding: 50px 40px;

    background-color: #222222;
    color: #ffffff;

    border-radius: 12px;
    transition: 800ms ease;


} */
/* 
.c-premium{
    color: black;
    background-color: #000000;
}

.c-premium a{
    color: #000;
}

.card:hover{
    transform: scale(1.12);
}

.card:hover .card-container {
    cursor:default;
    border-radius: 0.8em;
    transform: scale(1.1);
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
}

#linkanimation {
    text-decoration: none;
    color: white;
    position: relative;
  }
  #linkanimation::before {
    content: "";
    background: linear-gradient(to right, rgb(255,255,255) 45%, rgba(255,255,255,0.3) 55%);
    background-size: 220% 100%;
    background-position: 100% 50%;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    transition: .3s ease-out;
  }
  .card:hover #linkanimation::before {
    background: linear-gradient(to right, rgb(255,255,255) 45%, rgba(255,255,255,0.3) 55%);
    background-size: 220% 100%;
    background-position: 0% 50%;
    transition: .3s ease-out;
  }


  #linkanimation:hover{
    transform: scale(1.1);
  }


.pro-btn{
    -webkit-text-fill-color: transparent;
    border: 1px solid orange;
    transition: 100ms;
    padding: 4px 12px;
    color: rgb(175, 175, 175);
    text-decoration: none;
    border-radius: 0.2em;
    box-shadow: -0.1px 0.1px 20px orange;
    letter-spacing: 1.3px;
    background:linear-gradient(90deg,#ff4d4d,#f9cb28) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    animation: explore-p 6s infinite 1s;
}

.pro-btn:hover{
    transform: scale(1.1);
    cursor:pointer;
    background: linear-gradient(100deg,#ff930f,#fff95b) no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    box-shadow: -0.1px 0.1px 5px orange;
    border: 1px solid orange;
} */
















.project-holder{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.project-holder .card{
    transform: scale(1.3);
}





.overview{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.overview div{
    width: 50%;
    text-align: center;
}

.overview h3 div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



@media only screen and (max-width: 650px) {
    .overview{
        flex-direction: column;
    }

    .xdlol{
        display: none;
    }
}















@keyframes explore-p{
    0%,100% {background-position: -20vh;
        -webkit-background-clip: text;}
    33.333%, 50% {background-position: 0vh;
        -webkit-background-clip: text;}
    16.66% ,66.667% {background-position: 20vh;
        -webkit-background-clip: text;}
}

@keyframes explore{
    0%,100% {background: white;
        -webkit-background-clip: text;}
    33.333%, 50% {background:linear-gradient(90deg,#007cf0,#00dfd8) no-repeat;
        -webkit-background-clip: text;}
    16.66% ,66.667% {background: white;
        -webkit-background-clip: text;}
}
.explore{
    transition: 200ms ease-in;
    font-weight: 900;
    font-size: 12vh;
    background:linear-gradient(90deg,#007cf0,#00dfd8) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: explore 8s infinite;
}

@keyframes inspire{
    0%, 100% {background: white;
        -webkit-background-clip: text;}
    33.333%, 50% {background:linear-gradient(90deg,#7928ca,#ff0080) no-repeat;
        -webkit-background-clip: text;}
    16.667%, 66.667% {background: white;
        -webkit-background-clip: text;}
}
.inspire{
    transition: 200ms ease-in;
    font-weight: 900;
    font-size: 12vh;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: inspire 8s infinite 3s;
}
@keyframes create{
    0%, 100% {background: white;
        -webkit-background-clip: text;}
    33.333%, 50% {background:linear-gradient(90deg,#ff4d4d,#f9cb28) no-repeat;
        -webkit-background-clip: text;}
    16.667%, 66.667% {background: white;
        -webkit-background-clip: text;}
}
.create{
    transition: 200ms ease-in;
    font-weight: 900;
    font-size: 12vh;
    background:white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: create 8s infinite 5.3s;
}


@keyframes top-link{
    0%, 100% {background:white;
        border-color: white;
        -webkit-background-clip: text;}
    33.333%, 50% {background:linear-gradient(90deg,#7928ca,#ff0080) no-repeat;
        border-color: #ff0080;
        -webkit-background-clip: text;}
    16.667%, 66.667% {background:white;
        border-color: white;
        -webkit-background-clip: text;}
}


.section-1 a{
    /* background:linear-gradient(90deg,#007cf0,#00dfd8) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 12px 18px;
    border: 2px solid;
    animation: top-link 8s infinite;
    box-shadow: 1px 1px 10px #ff0080;
    border-radius: 0.3em;*/
    transition: 300ms;


     width: 200px;
     background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
     text-align: center;
     /* margin: 0 auto; */
     position: relative;
     color: #fff;
     text-decoration: none;
     display: block;
     /* top: 45vh; */
     font-weight: normal;
     border-radius: 6px;
     overflow: hidden;
}


.section-1 a:hover{
    transform: scale(1.1);
    /* box-shadow: -4px 6px #ff0080; */
    border-radius: 0.6em;

    -webkit-animation: play 1.6s ease-in infinite;
    animation: play 1.6 ease-in infinite;
    box-shadow: 0.1px 1px 600px #a767e5;
}


section a span{
    padding: 14px 0;
    font-size: 22px;
    display: block;
    margin: 3px;
    background: #000;
    border-radius: 3px;
}



@keyframes play {
    0% {
        background-position: 0px;
    }
    20% {
        background-position: -110px;
    }
    35% {
        background-position: -180px;
    }
    50% {
        background-position: -210px;
    }
    80% {
        background-position: -350px;
    }
    100% {
        background-position: -390px;
    }
}

.p-main-sec{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: white;
}

.p-main-sec section{
    display: flex;
    width: 90%;
    /* height: 100vh; */
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    /* padding: 25px 25px; */
}



.main-sec{height: 100vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: white;
}

.main-sec2{
    height: 100vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: white;
    width: 90vw;
}

.main-sec section div{
    transition: 400ms;
}

.main-sec section div:hover{
    cursor: pointer;
    /* transform: scale(1.3); */
}

.main-sec section{
    display: flex;
    width: 90%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
}

.main-sec a{
    color: white;

}


.scroll-down1 a span{
    margin: 25px;
    transition: 400ms;
    padding: 8px 25px;
}
.main-sec .img-div{
    display: inline-block;
    width: 100vh;
    height: 100vh; 
    background: url(/images/techny-project-management.gif) no-repeat;
    background-size: cover;
}

/* .main-sec .text-div h1{
    transition: 200ms ease-in;
    font-weight: 900;
    font-size: 12vh;
    background:linear-gradient(90deg,#007cf0,#00dfd8) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: explore 4s infinite;
} */

.main-sec .text-div a{
    color: rgba(110,168,254);
    padding-left: 25px;
    border-left: 4px solid rebeccapurple;
    font-size: 3vh;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.viewmore{
    display: block;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
    padding: 0.5rem 2rem;
    color: white;
    border: 2px solid white;
    transition: 300ms;
}

.viewmore:hover{
    transform: scale(1.2);
    /* background:linear-gradient(90deg,#007cf0,#00dfd8) no-repeat; */
    /* border: 2px solid transparent; */
    border-radius: 0.4em;
    /* color: black; */
    background-color: rgba(128, 128, 128, 0.301);
}








